body {
  margin:0;
  padding:0;
  word-break:break-all;
}
.App {
    text-align: center;
    margin-top: 50px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  
  .preview {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }
  
  .preview-element {
    margin: 10px;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed #ccc;
    border-radius: 4px;
    text-align: center;
  }

.layout {
  display: flex;
  gap: 10px;
  flex-direction: row;
}
.nav {
  width: 100vw;
  text-align: left;
  background-color: aquamarine;
  position: fixed;
  top:0;
  height: 42px;
}
.sidebar-settings {
  width: 300px;
  text-align: left;
  background-color: bisque;
  font-size: 12px;
}
.content {
  flex-grow: 1;
  padding: 10px;
  background-color: aliceblue;
}
.sidebar-element {
  padding: 6px;
  align-items: center;
  justify-content: space-between;
  
  border-bottom: 1px dashed #ccc;
  display: flex;
}
.frame {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
.sidebar {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}